/* General Styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 400px;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

h1 {
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

/* Form Container */
form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* Form Elements */
label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

div {
    margin-bottom: 15px;
}

p {
    font-weight: bold;
}

/* Button Styling */
button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

button:hover {
    background-color: #218838;
    color: black;
    font-weight: bold;
}

button:active {
    background-color: gray;
}

::selection {
    background-color: burlywood;
}